[submodule "launchpad/builder"]
	path = launchpad/builder
	url = https://github.com/apache/sling-org-apache-sling-starter.git
[submodule "tooling/maven/maven-sling-plugin"]
	path = tooling/maven/maven-sling-plugin
	url = https://github.com/apache/sling-maven-sling-plugin
